main{
  width: calc(100% - 296px);
  margin-left: auto;  
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 1,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.icon-unfilled {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }

.fs-12{
  font-size: 12px;
  line-height: 24px;
}

textarea{
  resize: none;
  height: inherit;
  min-height:210px;
  width: 584px;
}

